[paths]
source =
    studatio/

[run]
omit =
    */_vendor/*

[report]
omit =
    */_vendor/*

exclude_lines =
    # default exclusion
    pragma: no cover

    except ImportError
    raise AssertionError
    raise NotImplementedError
    input
    pass
    if __name__ == '__main__':
