[paths]
source =
    studatio/

[report]
exclude_lines =
    # default exclusion
    pragma: no cover

    except ImportError
    raise AssertionError
    raise NotImplementedError
    input
    pass
    except pyperclip.PyperclipException:
    if __name__ == '__main__':
